body {
 font-family: "Outfit", sans-serif;
 color: #2a044f;
 background-color: #e4c2ff;
}

.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  object-align: center;
  background-color: #542b8a;
  color: white;
  padding: 0.5rem;
  align-items: center;
}

.artwork25 {
display: grid;
 grid-template-columns: repeat(2, 1fr)
 grid-template-rows: 500px;
 justify-content: center;
 align-items: start;
}

.portfoliotext {
background-img: url(/images/galaxypicture.jpg);
 background-size: cover;
 align-items: end;
}
